*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: mangat;
    src: url(style/mangat.ttf);
}
body {
    background-color: lightgrey;
  }

footer{
    background-color: darkgray;
    border-radius: 25px;
    height: 3rem;
    margin: 1rem;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: red;
}
/*bg img*/
.uvod{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/BG.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/*vzdialenost top odkazov od hran*/
nav{
    background: linear-gradient(to bottom, rgba(255, 122, 87,1), rgba(255, 122, 90,0));
    display: flex;
    padding: 0% 2%;
    justify-content: space-between;
    align-items: center;
}
/*velkost loga hover zvecsenie*/
nav img{
    width: 100px;
    height: 100px;
    transition:transform 0.25s ease;
}

nav img:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

/*responzivita a set okazov z prava*/
.nav-odkazy{
    flex: 1;
    text-align: right;
}
/*medzery medzi odkazmi a za sebou*/
.nav-odkazy ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 5px;
    position: relative;
}
/*text odkazov*/
.nav-odkazy ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
}
/*animacia hoveru*/
.nav-odkazy ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-odkazy ul li:hover::after{
    width: 100%;
}
.uvod-text{
    width: 70%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.uvod-text h1{
    font-family: mangat, sans-serif;
    font-size: 80px;
}
.uvod-text p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

.info{
    min-height: 100vh;
    background-image: linear-gradient(rgba(5, 10, 31, 0.8),rgba(5,10,31,0.8)) ,url(images/jpbrana.jpeg);
    background-size: cover;
    position: relative;
    text-align: center;
    padding: 2rem;
}
.info div{
    padding: 5rem;
    align-items: center;
}
.info h1{
    color: white;
    font-size: 50px;
}
.info h2{
    color: white;
    font-size: 30px;
}
.info p{
    color: white;
    font-size: 20px;
}

.tabulka {
    background-color: #000000;
    margin-top: 1rem;
    border-collapse: collapse; 
    width: 100%;
}

.tabulka td {
    width: 33.33%; 
    height: 200px; 
}

.tabulka img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.video{
    margin: 2rem;
    text-align: center;
}

.Kontakt{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.Kontakt th,tr{
    border: 1px solid black;
    padding: 8px;
}
.Kontakt caption{
        font-weight: bold;
        font-size: 24px;
        text-align: left;
        color: #333;
        margin-bottom: 16px;
}
.Kontakt thead{
    background-color: #333;
    color: white;
}

.mapa{
    text-align: center;
}
.text{
    text-align: center;
    border-radius: 1rem;
    background-color: #eeeeee;
    margin: 2rem;
    padding: 1rem;
}
.text h2{
    padding: 2rem;
}
.text p{
    margin: 1rem;
    color: black;
}
.text ul li{
    list-style: none;
}
.text ol{
    list-style-position: inside
}

.text img{
    float: left;
    margin-right: 10px;
}



.text2{
    text-align: center;
    border-radius: 1rem;
    background-color: #eeeeee;
    margin: 2rem;
    padding: 1rem;
}
.text2 h2{
    padding: 2rem;
}
.text2 p{
    margin: 1rem;
    color: black;
}
.text2 ul li{
    list-style: none;
}
.text2 ol{
    list-style-position: inside
}

.sec-kontakty{
    min-height: 75vh;
}

.kotva{
    text-align: center;
}
.kotva ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 5px;
    position: relative;
}

.kotva ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
}
.kotva ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: blue;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.kotva ul li:hover::after{
    width: 100%;
}

.tabulka img{
    transition:transform 0.25s ease;
}

.tabulka img:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}