*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: mangat;
    src: url(style/mangat.ttf);
}
body {
    background-color: lightgrey;
}

/*vzdialenost top odkazov od hran*/
nav{
    background: linear-gradient(to bottom, rgb(17, 249, 40), rgba(255, 122, 90,0));
    display: flex;

    justify-content: space-between;
    top: 0px;
    position: fixed;
    width: 100%;
}
/*velkost loga hover zvecsenie*/
nav img{
    width: 100px;
    height: 100px;
}
/*responzivita a set okazov z prava*/
.nav-odkazy{
    flex: 1;
    text-align: right;
}
/*medzery medzi odkazmi a za sebou*/
.nav-odkazy ul li{
    list-style: none;
    padding: 30px 20px 0px 0px;
    display: inline-block;
    position: relative;
}
/*text odkazov*/
.nav-odkazy ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
}
/*animacia hoveru*/
.nav-odkazy ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-odkazy ul li:hover::after{
    width: 100%;
}
.odsadeniezhora{
    margin-top: 100px;
    text-align: center;
}
h1{
    padding-top: 20px;
}
.inventory{
    margin-top: 8%;
    border: 2px solid black;
    padding: 20px;
}